.RequirementsPage {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.RequirementsWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #FFF;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.RequirementsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 22px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
}
.RequirementsTitle {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.RequirementsHeaderControls {
  display: flex;
}
	
.RequirementsHeaderMinimize,
.RequirementsHeaderMaximize,
.RequirementsHeaderClose {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
}
.RequirementsHeaderMinimize{
  background-color: #f7d54a;
}

.RequirementsHeaderMaximize {
  background-color: #62c462;
}

.RequirementsHeaderClose {
  background-color: #ee5f5b;
}
.RequirementsBody {
  width: 100%;
  height: 100%;
  display: flex;
}
.RequirementsBodySidebar {
  flex: 1;
  background-color: #F5F5F5;
  padding: 20px;
  /* box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); */
  border-right: 1px solid #777;
}
.RequirementsBodyContents {
  position: relative;
  flex: 6;
}
.RequirementsBodyChatbot  {
  flex: 2;
  background-color: #ee5f5b;
}
.bold {
  font-weight: bold;
}
.RequirementsBodyControls {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 20px 10px;
  box-sizing: border-box;
}
.RequirementsBodyControls button {
  padding: 10px 20px;
  background-color: #2E6BAA;
  color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.PrevBtn {
  float: left;
}
.NextBtn {
  float: right;
}
.RequirementsBodyControls button:hover {
  opacity: 0.7;
  transition: all 0.35s;
}

.RequirementsBodyContentsWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.RequirementsBodyContentsBox {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}
.RequirementsBodyContentsClick{
  cursor: pointer;
  padding: 10px 20px;
  background-color: #adadad;
  color: #FFF;
  border-radius: 25px;
  margin: 10px;
}
.Clicked {
  background-color: #4728e5;
}
.RequirementsBodyTextArea {
  width: calc(100% - 20px);
  height: 400px;
  resize: none;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}